.title {
	padding: 10px;
	cursor: move;
	font-weight: bold;
	font-size: 120%;

}

.x {
	cursor: pointer;
	float: right;

}

.connect {

	height: auto;
	cursor: pointer;
	text-align: center;
	font-size: 140%;
}
.content {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #40B3DF;
}

.summary {
	padding: 10px;
	cursor: move;
	font-weight: bold;
	font-size: 120%;
}

.menu-item {
	position: absolute;
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
    background-color:#FFFFFF;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}

.item {
	position: relative;
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
    background-color:#FFFFFF;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}

/* the container is 200px (size of menu-container) plus 3 times 250px + 2px per border*/
#drawContainer {
height: 100%;
width: 100%

}

/* the menu is 200px wide */
#menu-container {
	float: left;
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 200px;
	height: 497px;
	background-color: #F3F2F4;
}

.verticalLine {
	float: left;
	border-right: 2px solid gray;
	width: 1px;
	height: 498px;
}
164
down vote


.div-table{
 display:table;
 width:auto;
 background-color:#eee;
 border:1px solid  #666666;
 border-spacing:1px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
 display:table-row;
 width:auto;
 clear:both;
}
.div-table-col{
 float:left;/*fix for  buggy browsers*/
 display:table-column;
 width:37px;
 background-color:#40B3DF;
 border-left: 1px solid black;
}
.tool{
height: auto;
width: auto;
max-width: 20px;
max-height: 20px;


}
